<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene usato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per altre informazioni su questo argomento, vedere https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/55a9de92-ecad-42a7-9158-e95e8fe213ee/resourceGroups/CLOD/providers/Microsoft.Web/sites/CarPowerFrontEnd</ResourceId>
    <ResourceGroup>CLOD</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carpowerfrontend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d8f8a6d1-034e-48d8-b3d7-8bb972de0949</ProjectGuid>
    <MSDeployServiceURL>carpowerfrontend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarPowerFrontEnd</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Dipendente dal framework</SelfContained>
    <RuntimeIdentifier>Portabile</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvFNXP1+KaEaV+SgpjSsDGQAAAAACAAAAAAAQZgAAAAEAACAAAAB6oivw/hUxm1p4v+DjxIz7XeBQf/aOGx/dYRTHun8QtgAAAAAOgAAAAAIAACAAAAAhCCG4etjaGC4v7clAdNQRL3X11lOOhyUj+5UifNThjSAAAADj3/muyK3YQmSAi6+GL8zXyIuGZQaUxvIknlZZXvG6PUAAAACQClLJaYSH5wIDRjvSMgrNHdJpbswXRsVi0RbxzGf9NWLDnHSu3FTITTWjXuo3eNPOyOWAbaJ3B8wRU/wVkmxB</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>