.progress-circle {
    width: 120px;
    height: 120px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .progress-circle::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #e5e5e5; /* Colore di sfondo */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .progress-circle::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #28a745; /* Colore della progress bar */
        position: absolute;
        top: 0;
        left: 0;
        clip: rect(0, 60px, 120px, 0);
        transform: rotate(var(--progress), 0);
        z-index: 2;
    }

.progress-circle-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 3;
}


/* wwwroot/css/app.css */

.active {
    background-color: green;
    color: white;
}

.inactive {
    background-color: gray;
    color: white;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #f8f9fa;
        color: #495057;
        white-space: nowrap;
    }

.btn-delete {
    background: none;
    border: none;
    color: #dc3545; /* colore rosso, simile a text-danger */
    padding: 0;
    cursor: pointer;
}

    .btn-delete:hover {
        color: #bd2130; /* colore rosso più scuro al passaggio del mouse */
    }

